version: 2.1

commands:
  install-composer:
    steps:
      - run: |
          sudo apt install -y software-properties-common
          sudo add-apt-repository -y ppa:ondrej/php
          sudo apt-get update
          sudo apt-get install -y php7.3-cli php7.3-common php7.3-mbstring php7.3-intl php7.3-zip php7.3-bcmath php7.3-dom
          curl -s https://getcomposer.org/installer | php
          sudo mv composer.phar /usr/local/bin/composer
          composer install

workflows:
  version: 2

  test-7_0:
    jobs:
      - test-7_0
  test-7_1:
    jobs:
      - test-7_1
  test-7_2:
    jobs:
      - test-7_2
  test-7_3:
    jobs:
      - test-7_3
  test-7_4:
    jobs:
      - test-7_4

jobs:
  test-7_0:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - run: curl -X PURGE https://camo.githubusercontent.com/82acc830f80635e42df3bdbb7a047c2d75481164/68747470733a2f2f7365616e6d6f727269732d6261646765722e6865726f6b756170702e636f6d2f6b73716c632f746573742d375f313f6c6162656c3d706870253230372e31
      - checkout
      - install-composer
      - run: make PHP_VERSION=7.0 build-test start wait test push-coverage stop
      - run: curl -X PURGE https://camo.githubusercontent.com/82acc830f80635e42df3bdbb7a047c2d75481164/68747470733a2f2f7365616e6d6f727269732d6261646765722e6865726f6b756170702e636f6d2f6b73716c632f746573742d375f313f6c6162656c3d706870253230372e31

  test-7_1:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - install-composer
      - run: make PHP_VERSION=7.1 build-test start wait test push-coverage stop
      - run: curl -X PURGE

  test-7_2:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - run: curl -X PURGE https://camo.githubusercontent.com/87be2819625cb285a1ecb300935cfcce2adc65d1/68747470733a2f2f7365616e6d6f727269732d6261646765722e6865726f6b756170702e636f6d2f6b73716c632f746573742d375f323f6c6162656c3d706870253230372e32
      - checkout
      - install-composer
      - run: make PHP_VERSION=7.2 build-test start wait test push-coverage stop
      - run: curl -X PURGE https://camo.githubusercontent.com/87be2819625cb285a1ecb300935cfcce2adc65d1/68747470733a2f2f7365616e6d6f727269732d6261646765722e6865726f6b756170702e636f6d2f6b73716c632f746573742d375f323f6c6162656c3d706870253230372e32

  test-7_3:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - run: curl -X PURGE https://camo.githubusercontent.com/5ac6c47a8429d9c1d69c69abb84a8175ef75ad36/68747470733a2f2f7365616e6d6f727269732d6261646765722e6865726f6b756170702e636f6d2f6b73716c632f746573742d375f333f6c6162656c3d706870253230372e33
      - checkout
      - install-composer
      - run: make PHP_VERSION=7.3 build-test start wait test push-coverage stop
      - run: curl -X PURGE https://camo.githubusercontent.com/5ac6c47a8429d9c1d69c69abb84a8175ef75ad36/68747470733a2f2f7365616e6d6f727269732d6261646765722e6865726f6b756170702e636f6d2f6b73716c632f746573742d375f333f6c6162656c3d706870253230372e33

  test-7_4:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - run: curl -X PURGE https://camo.githubusercontent.com/576384275f26b9d24df1b7a34480e1aa47a7bf83/68747470733a2f2f7365616e6d6f727269732d6261646765722e6865726f6b756170702e636f6d2f6b73716c632f746573742d375f343f6c6162656c3d706870253230372e34
      - checkout
      - install-composer
      - run: make PHP_VERSION=7.4 build-test start wait test push-coverage stop
      - run: curl -X PURGE https://camo.githubusercontent.com/576384275f26b9d24df1b7a34480e1aa47a7bf83/68747470733a2f2f7365616e6d6f727269732d6261646765722e6865726f6b756170702e636f6d2f6b73716c632f746573742d375f343f6c6162656c3d706870253230372e34
