h2,h3,h4,h5,h6 {
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

h2 {
	padding-bottom: 0em;
}

article {
	font-size: 1rem;
	line-height: unset;
}

p.pre, span.pre > p {
	line-height: 1.75em;
}

p.pre:not(:empty), span.pre > p:not(:empty) {
	/*margin-top: 1em;*/
	
}

.method-types, .class-types, .param-types {
	font-size: 0.5em;
	display: flex;
}

.method-types > span:not(:empty):not(.wrap),
.class-types > span:not(:empty):not(.wrap) ,
.param-types > span:not(:empty):not(.wrap) {
	height: 1em;
	margin-bottom: 0.5em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius:1em;
	align-items: center;
	background-color: #DFDFDF;
	border: 1px solid #CCC;
	font-weight: bold;
	padding: 1em;
	/*box-shadow: 0.25em 0.25em 0.5em rgba(0,0,0,0.125);*/
	margin-right: 2em;	
	margin-bottom: 2em;	
	margin-top: 2em;	
}

.row.summary > div:not(:empty) {
	flex: 1;
	align-self: flex-start;
	margin-right: 1.25rem;
	overflow: auto;
	white-space: nowrap;
}

.entry {
	margin-top: 1em;
	margin-bottom: 1em;
}

.details li {
	overflow: auto;
}

.pad:not(:empty) {
	padding: 1rem;
}

.pad-horizontal:not(:empty) {
	padding-left: 1rem;
	padding-right: 1rem;
}

.pad-vertical:not(:empty) {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.pad-top:not(:empty) {
	padding-top: 1rem;
}

.pad-bottom:not(:empty) {
	padding-bottom: 1rem;
}

.details li {
	border: 1px #CCC solid;
}

.details li:not(:last-child) > .pad {
	padding-bottom: 0px;
}

.details li {
	padding-bottom: 1rem;	
}

h3 {
	font-size: 1.25em;
}

.details li h4 {
	display: flex;
	align-items: center;
	margin-right: 1em;
}

.details .params {
	flex: 1;
	overflow: auto;
	align-items: flex-start;
}

.details .params .row > div {
	flex: 0.125;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.details .params .row small {
	text-align: center;
	font-weight: 500;
}

.param-types > span {
	margin-top: auto !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.summary li {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.entry .icon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 1.25em;
}

h2, h3, .summary li > * {
	display: flex;
	align-items: center;
}

[data-icon] {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

[data-icon] img {
	width: 1.5em;
	height: 1.5em;
	opacity: 0.5;
	margin-right: 0.5em;
}

.entry h4 {
}

.entry h6 {
	text-decoration: underline;
	font-size: 0.95em;
}

h3 [data-icon] {
	font-size:  1.25em;
}

sup [data-icon] {
	position: relative;
	top: -1em;
}

sup [data-icon] img {
	width: 1.25em;
	height: 1.25em;
}

[data-icon="/lock.svg"] img {
	padding: 0.125em;
}

[data-icon="/closed-box.svg"] img {
	padding: 0.125em;
}

[data-icon="/link.svg"] img {
	padding: 0.125em;
}

[data-icon="/connected.svg"] img {
	font-size: 0.85em;
}

[data-icon="/inherit.svg"] img {
	padding: 0.125em;
}

[data-icon="/override.svg"] img {
	padding: 0.125em;
}

.entry [data-icon="/inherit.svg"] img {
	padding: 0em;
}

.entry [data-icon="/override.svg"] img {
	padding: 0em;
}

[data-icon="/constant.svg"] img {
	padding: 0.125em;
}

[data-icon="/field.svg"] img {
	padding: 0em;
	width: 1.75em;
	object-fit: cover;
}

[data-icon = "/turn.svg"] img {
	padding: 0.25em;
	position: relative;
	left: 0.25em;
	top: 0.5em;
}

.legend {
	flex-wrap: wrap;
}

.legend > span {
	margin-right: 1em;
}

.row h5 {
	margin-right: 1em;
}

.summary li small {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

[data-expand] {
	display: none;	
}

[data-collapse] {
	display: unset;
}

.expand-main [data-expand="main"] {
	display: unset;
}

.expand-main  [data-collapse="main"] {
	display: none;	
}

.octicon {
	display: none;
}
body {
	--menu-width: 5em;
	font-family: 'Raleway', sans-serif;
}

body > .layout {
	width:  100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

body > .layout > .fill {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex: 1;
}

body > .layout > .fill > .main-content {
	transform: translateX(0);
	transition: transform 0.25s ease-out, box-shadow 0.3s ease-out;
	position: absolute;
	left: 4em;
	z-index: 15;
	flex: 1;
	height: 100%;
	width: calc(100% - 4em);
	background-color: #FFF;
}

body > .layout > .fill > .left-bar {
	/*box-shadow: inset -10px 0px 10px rgba(0,0,0,0.25);*/
}

.layout.menu-inactive .main-content {
	border-left: 1px solid #ccc;
}

body > .layout > .fill > .main-content {
	overflow-y: hidden;
}

body > .layout:not(.menu-active) > .fill > .main-content {
	overflow-y: auto;
}

body > .layout.menu-active > .fill > .main-content {
	perspective: 1000px;
	transform-origin: 100% 50%;
	transform: translateX(18em);
	/*box-shadow: -30px 0px 30px rgba(0,0,0,0.25);*/
}

body > .layout > .header {
	border-bottom: #CCC 1px solid;
}

body > .layout > .footer {
	border-top: #CCC 1px solid;
}

body > .layout > .header,
body > .layout > .fill > .left-bar input,
body > .layout > .fill > .main-content,
body > .layout > .footer {
	padding: 1.25rem;
}


div[data-path] {
	max-width: 800px;
}

a[href] {
	color: #07C;
}

div.loader {
	background-image: url('./spin.svg');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	object-fit: contain;
	object-position: center;
	display: block;
	z-index: 3;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.5;
}

.home {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: right;
}

.home h1 {
	font-size: 7.5em;
	line-height:  1em;
	position: relative;
}

.home h1::after {
	content: '℠';
	font-size: 1.75rem;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0px;
	overflow: visible;
	padding: 2px;
}

.home h1 + b{
	margin-bottom: 0.5em;
	margin-top: 1.5em;
}

.home .copyright {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	text-align: right;
	opacity: 0.5;
	font-weight: 100;
}

.plain {
	font-size: 1.25em;
}

.menu {
	min-height: 100%;
	position: relative;
	outline: none;
}

.menu li {
	cursor: pointer;
	flex: 1;
}

 .menu ul {
 	display: flex;
	flex-direction: column;
}

.menu ul li {
	flex: 1;
}

.menu ul li > a:active {
	opacity: 0.25;
}

body > .layout > .fill > .left-bar {
	width: 22em;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

body > .layout.menu-active > .fill > .left-bar {
	overflow-y: scroll;
	overflow-x: scroll;
}

body > .layout > .fill > .left-bar input {
	position: sticky;
	top: 0px;
	left: 0px;
	width: 100%;
	border: none;
	border-bottom: #CCC 1px solid;
	z-index: 1;
	padding-left: 4rem;
}
body > .layout > .fill > .left-bar .menu::before {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 2em;
	height: 2em;
	z-index: 20;
	content: '';
	padding: 1.25rem;
	background-image: url(./search.svg);
	background-size: 2em 2em;
	background-position: 50% 45%;
	background-repeat: no-repeat;
	opacity: 0.5;
	pointer-events: none;
}

.entry h5{
	margin-top: 0px;
	margin-bottom: 0px;
}

.menu li, .menu h6 {
	transition: opacity 0.5s ease-out, filter 0.5s ease-out;
	
}


.menu.inactive li, .menu.inactive h6 {
	pointer-events: none;
	opacity: 0.5;
	filter: grayscale(1);
}

.menu small {
	font-size: 0.85em;
}
html {
	font-size: 0.95em;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	 -webkit-text-size-adjust:none;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
	line-height: 2em;
}

small:not(:empty) {
	display: inline-block;
	width: 100%;
}

*::-webkit-scrollbar {
	/*width: 0 !important;
	height: 0 !important;
	-moz-scrollbars-none;*/

	width: 16px;
	height: 0px;
}

*::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.0);
	position: absolute;
	z-index: 0;
}

.left-bar::-webkit-scrollbar-track {
	border-left:  #CCC 1px solid;
}

*::-webkit-scrollbar-thumb {
	padding: 12px !important;
	background-clip: padding-box;
	border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
	width: 8px;
	background-color: rgba(0,0,0,0.25);
	border-radius: 10px;
	position: absolute;
	z-index: 100;
}

.main-content {
}

::-webkit-scrollbar-thumb:window-inactive {
	background-color: rgba(0,0,0,0.125);
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0,0,0,0.5);
}

.mono {
	font-family: 'IBM Plex Mono', monospace;
}

li {
	list-style-type: none;
}

[data-path] li  {
	list-style-type: unset;
	position: relative;
	left: 2em;
}

[data-path] p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

p {
	display: inline-block;
	width: 100%;
	font-size: 1rem;
}

span.collapsible {
	display: inline;
	width: 100%;
}

.pre {
	white-space: pre-wrap;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.col {
	display: flex;
	flex-direction: column;
}

.nowrap {
	white-space: nowrap !important;
	flex-wrap: nowrap !important;
}

a {
	text-decoration: none;
}

h5 {
	font-size: 1rem;
}

.entry h5 {
	width: 7em;
	text-align: right;
}

.center {
	align-items: center;
}

.f { display: flex; }
.g { flex-grow: 1; }
.s { align-items: flex-start; }
.st { align-items: stretch; }
.e { align-items: flex-end; }
.bl { align-items: baseline; }

/*# sourceMappingURL=app.css.map*/